#ifndef CONFIG_H
#define CONFIG_H

// WiFi credentials
const char* ssid     = "YOUR_SSID";
const char* password = "YOUR_PASSWORD";

// data/time pool Server
const char* poolServerName = "pool.ntp.org"; // default
// const char* poolServerName = "europe.pool.ntp.org";
const int hourOffset = 1; // MEZ Offset

#endif
